//Add Option Error
.add-option-error {
  color: $off-purple;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column; //Stacked up column-wise for mobile-devices
  padding: $m-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  color: $off-purple;
  flex-grow: 1; //Make input form box grow as screen grows
  margin: 0 0 $s-size 0;
  padding: $s-size;
  height: 3rem;
}

@media(min-width: $desktop-size) {
  .add-option {
    flex-direction: row; //Stacked up row-wise for desktop-devices
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
