.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size;// For mobile-devices
  padding: $m-size 0;
}

.header__title {
  color: white;
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-purple;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media(min-width: $desktop-size){
  .header {
      margin-bottom: $xl-size;// For desktop-devices
  }
}
