// Colors
$dark-grey: #323232;
$dark-orange: #cb5c42;
$fluorescent-orange: #ff4528;

// Font size
$font-l-size: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
